body{
    font-family: proxima_nova_altbold;
    margin: 0px;
    padding: 0px;
    font-size : 13px;
    letter-spacing: 0.5px;
}

.limiter {
    margin: 0 auto;
}

.container-login100 {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/puzzle.jpg);
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    opacity: 0.9;
}

.wrap-login100 {
    width: 390px;
    background: transparent;
}

.login100-form-avatar {
    height: 140px;
}

.icon-login100{
    width: 150px;
}

.login100-form-title {
    color: #004E82;
}

.login100-form-alert{
    font-family: proxima_nova_ltsemibold;
    color: red;
}

.input100 {
    font-family: proxima_nova_ltsemibold;
    color: #333333;
    background: #fff;
    height: 50px;
}

.focus-input100 {
    z-index: -1;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.symbol-input100 {
    color: #999999;
    pointer-events: none;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #004E82;
  padding-left: 23px;
}

.login100-form-btn {
    color: #e0e0e0;
    height: 50px;
    background: #333333;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: 0;
    background: #004E82;
    opacity: 0;
}

.login100-form-btn:hover {
  background: transparent;
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

::-webkit-input-placeholder { /* Edge */
  color: #999999;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #999999;
}

::placeholder {
  color: #999999;
}

.container-loader100{
    z-index:10;
    background-color: rgba(255,255,255,0.6);
}

.icon-loader100{
    top: 50%;
    margin-top: -125px;
    margin-left: -120px;
}

.border-bottom{
    border-bottom: 1px solid #D1D1CA;
}

.header{
    height: 60px;
    top: 0;
    z-index:4;
}

.container-left100{
    width: 20%;
    font-family: proxima_nova_ltsemibold;
}

.container-right100{
    width: 80%;
    margin-left: -5px;
}

.input-search100{
    border: 1px solid #E0E0DF;
    border-radius: 5px;
    width: 400px;
    font-family: proxima_nova_ltsemibold;
}

.icon-search100-global{
    margin-left: -35px;
}

.container-content100{
    height: 90.9%;
}

.container-content100-right{
    background: rgb(245, 245, 245);
}

.list-mainmenu li div{
    padding: 15px 30px;
    border-bottom: 1px solid #E0E0DF;
}

.list-mainmenu-sub li div{
    padding: 15px 60px;
}

.signout{
    right: 10px;
    bottom: 14px;
    color: rgb(132, 132, 132);
}

.signout:hover{
    color:#757575;
}

.user-number{
    width:200px;
    vertical-align: top;
}

.user-number .icon-arrow{
    right: 15px;
    top: 27px;
}

.fn-lightblue{
    color:#6D839A;
}

.fn-bluesky{
    color:#56C0ED;
}

.fn-red{
    color:#F37B65;
}

.statistic{
    width: 872px;
}

.brdr-grey{
    border-bottom: 1px solid #E0E0DF;
}

.bck-grey{
    background-color:#E4E9EC;
}

.brdr-solid-grey{
    border: 1px solid #D3D3D3
}

.graph-statistic{
    margin-left:280px;
    margin-right:280px;
}

canvas{
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.statistic-content{
    height: 435px;
    width: 872px;
}

.table-border{
    border: 2px solid #D3D3D3;
}

.table-border-top{
    border-top: 2px solid #D3D3D3;
}

.table-border-side{
    border-left: 2px solid #D3D3D3;
    border-right: 2px solid #D3D3D3;
}

.table-border-bottom{
    border-bottom: 2px solid #D3D3D3;
}

.table-content{
    width: 155px;
}

.btn-ver{
    border: 0;
    width: 95px;
    background-color:#56C0ED;
    border-radius:5px;
}

.btn-can{
    border: 0;
    width: 95px;
    background-color:#F37B65;
    border-radius:5px;
}

.user-number:hover,.btn-ver:hover,.btn-can:hover{
    background-color:#FCBC1B;
}

.table-confirm100-text{
    height: 62px;
    vertical-align: bottom;
    padding: 20px;
}

.table-confirm100-img{
    height: 62px;
    vertical-align: bottom;
    padding: 4px;
}

.m-l-min{
    margin-left: -1px;
}

.box-elip{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container-notif100,.table-confirm100-list{
    width: 949px;
}

.notif-menu{
    width: 221px;
}

.list-mainmenu li div:hover,.notif-menu:hover{
    background-color: #ecf0f1;
}

textarea{
    resize:none;
}

.container-notif100-left{
    width: 120px;
    vertical-align: top;
    font-family: proxima_nova_ltsemibold;
}

.container-notif100-right{
    width: calc(100% - 124px);
    font-family: proxima_nova_ltsemibold;
}

.inpt-notif-desc{
    height: 100px;
    border-radius:5px;
}

.select-notif-user{
    border-radius: 5px;
    width: 150px;
    font-family: proxima_nova_ltsemibold;
}

.btn-notif{
    background-color:#56C0ED;
    border: 0;
    border-radius: 5px;
    font-family: proxima_nova_ltsemibold;
    box-shadow: 3px 3px 5px #888888;
}

.btn-notif:hover{
    background-color:#004F82;
}

label[for="file-notif"]{
    display: block;
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: #3FC3FF;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    margin-left: 118px;
}

label[for="file-notif"]:hover{
    color:#6D839A;;
}

#file-notif{
    visibility: hidden;
}

.default-color{
    color:rgb(132, 132, 132);
    font-family: proxima_nova;
}

.font-nova{
    font-family: proxima_nova_altbold
}